@model List<TrailerAPPv3.DTO.TrackingDTO>
@{
    ViewBag.Title = "GraphsTrailers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grafica de Trailers</h2>

<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
window.onload = function() {
	var dataPoints = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.TrailerCounts));
	console.log(dataPoints)
    /*let new_array = dataPoints.map(function (ele) {

        return { ...ele, y: ele.latitude };
    })*/
    var options = {
	title: {
		text: "Grafica de Trailers"
	},
		data: [{
            toolTipContent: "<b>{label}</b>: (#percent%)",
			type: "pie",
			startAngle: 45,
			showInLegend: "true",
			legendText: "{label}",
            indexLabel: "{label} - Ubicación visitada: {latitude} {longitude}",
			yValueFormatString:"#,##0.#"%"",
            dataPoints: dataPoints
	}]
};
$("#chartContainer").CanvasJSChart(options);

}
</script>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script type="text/javascript" src="https://cdn.canvasjs.com/jquery.canvasjs.min.js"></script>
